* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none !important
}

#portrait-warning {
  display: none;
}

@media screen and (orientation: portrait) {
  .landing, .surface, img {
    display: none !important;
  }
  #portrait-warning {
    display: block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: #ebebeb;
  }
}



html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(18, 18, 18);
}

.landing {
  height: 100vh;
  width: 100vw;
  font-size: 5rem;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  gap: 2.5%;
}

.surface {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 2.5vh auto;
  align-items: center;
  justify-items: center;
  height: 95vh;
  width: min(150vh, 95vw);
  //background url instyle
  //background-size: contain;
}

main {
  display: grid;
  // 3 columns, 3 rows, 1fr each
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes expand-out {
  0% {
    transform: scale(.1);
    top: 70%;
    position: relative;

  }
  100% {
    transform: none;
    top: 0;
    position: relative;
  }
}

@keyframes die-out {
  0% {
    transform: none;
    top: 0;
    position: relative;
  }
  100% {
    transform: scale(.1);
    top: 70%;
    position: relative;

  }
}
