* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  cursor: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes expand-out {
  0% {
    transform: scale(.1);
    top: 70%;
    position: relative;

  }
  100% {
    transform: none;
    top: 0;
    position: relative;
  }
}

@keyframes die-out {
  0% {
    transform: none;
    top: 0;
    position: relative;
  }
  100% {
    transform: scale(.1);
    top: 70%;
    position: relative;

  }
  //100% {
  //  display: none;
  //}
}

